.col3 {
  display: block;
}

p {
  text-indent: 2em;
}
ol {
}
ul {
  margin-bottom: 20pt;
  padding-bottom: 20pt;
}
h4 {
  font-size: 15pt;
}

.rounded-img {
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(26, 9, 9, 0.4);
  padding: 0.2em;
  margin-bottom: 1em;
}

@media (max-width: 900px) {
  #BTC {
    tr,
    td,
    th {
      display: block;
      font-size: 15px;
    }
  }
  #bet {
    flex-direction: column;
  }
}
