@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=LXGW+WenKai+Mono+TC&family=Oswald:wght@200..700&display=swap");
.lxgw-wenkai-mono-tc-regular {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-style: normal;
}

body {
  background: url(../Images/FON.jpg);
}

h1 {
  color: green;
}

.Chart {
  table {
    width: 10%;
    border: 3px solid #666;
    text-align: center;
  }

  td,
  th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #666;
  }
}
a:active {
  color: #7cf074;
}

tr:hover {
  background-color: rgb(224, 31, 111);
}

.qwerty {
  table {
    width: 20%;
    border: 3px solid #666;
  }

  td,
  th {
    padding: 5px 10px; /* Поля вокруг текста */
    border: 1px solid #666;
  }
}
/** table,{
    width: auto;
    margin: 0 auto;
    border: 2 px solid green;
    border-spacing: 200px 300px;
    
  }
**/

.carousel-inner {
  width: 640px;
  height: 360px;
}

ul {
  margin-bottom: 20pt;
  padding-bottom: 20pt;
}
h4 {
  font-size: 15pt;
}

.rounded-img {
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(26, 9, 9, 0.4);
  margin-bottom: 1em;
}
